{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
{% include "partials/_nav.html.twig" %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>E:/DEVELOPPEMENT/concrete_vibrations/src/Controller/HomeController.php</code></li>
        <li>Your template at <code>E:/DEVELOPPEMENT/concrete_vibrations/templates/home/index.html.twig</code></li>
    </ul>
</div>
<div class="font-funnel">
<h1>Oh là là Gaga</h1>
</div>
{% include "partials/_footer.html.twig" %}
{% endblock %}
