{% extends 'base.html.twig' %}

{% block title %}Concrete Vibrations - Accueil{% endblock %}

{% block content %}

<video autoplay muted loop id="background-video"
        style="position: fixed;
               right: 0;
               bottom: 0;
               min-width: 100vw;
               min-height: 100vh;
               width: auto;
               height: auto;
               z-index: -1;
               object-fit: cover;">
        <source src="{{ asset('videos/vidsplay-abstract-digital-waves.mp4 (1080p).mp4') }}" type="video/mp4">
    </video>

<div class="bienvenue-wrapper">
    <h1>Bienvenu-es sur le site web des synthétiseurs mythiques</h1>
    <ul>
       
    </ul>
</div>
<div class="font-funnel">
<h1>Qui sommes-nous ?</h1>
</div>
{% endblock %}
