{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
{{ form_start(loginForm) }}
    {{ form_row(loginForm.email) }}
    {{ form_row(loginForm.password) }}
    <button type="submit">Se connecter</button>
{{ form_end(loginForm) }}

{% endblock %}


 