{% extends 'base.html.twig' %}

{% block title %}Edit Contribution{% endblock %}

{% block body %}
    <h1>Edit Contribution</h1>

    {{ include('contribution/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_contribution_index') }}">back to list</a>

    {{ include('contribution/_delete_form.html.twig') }}
{% endblock %}
