{% extends 'base.html.twig' %}

{% block title %}New Contribution{% endblock %}

{% block body %}
    <h1>Create new Contribution</h1>

    {{ include('contribution/_form.html.twig') }}

    <a href="{{ path('app_contribution_index') }}">back to list</a>
{% endblock %}
