@import "tailwindcss";

@font-face {
	font-family: "FunnelDisplay";
	src: url("../fonts/FunnelDisplay-VariableFont_wght.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

body {
	font-family: "FunnelDisplay", Arial, sans-serif;
	font-size: 18px;
	color: #5500ff;
	background-color: lightgray;
}

.img-small {
	width: 48px;
	height: 48px;
	object-fit: cover;
	border-radius: 0.5rem;
  }
  