<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Concrete Vibrations{% endblock %}</title>
        <link rel="icon" href="{{ asset('build/images/ondes_sonores.ico') }}" type="image/x-icon" />
  {# on applique les styles via webpack encore #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
{# on applique le js via webpack encore #}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="bg-gray-100 text-gray-900">
       <header>
        {% include 'partials/_nav.html.twig' %}
    </header>
        <main class="container mx-auto px-4 py-8">
            {% block content %}
            {% endblock %}
        </main>
            {% include('partials/_footer.html.twig') %}
    </body>
</html>
